
</div>
<footer id="footer">
    <p>Copyright © <%= new Date().getFullYear() %> Blogbook by Sameer</p>
</footer>
</div>

</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/scripts/script.js"></script>
</html>